.input_box {
    margin-bottom: 15px;
    width: 100%;
}

.input_box input {
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.input_box input:focus {
    border-color: #2c98f0;
}

.details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}